@model IEnumerable<TaskManager.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
        </div>
        <div class="col">
            <form asp-controller="TaskModels" asp-action="Index">
                <p>
                    Search for a Task: <input type="text" name="SearchString">
                    <input type="submit" value="Filter" />
                </p>
            </form>
        </div>
        <div class="col">
            <p>
                <a asp-action="Index">Clear Filters</a>
            </p>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskDueDate)
                </td>
                <td>
                    <form onclick="toggleTaskCompletedCheckbox(@item.Id)">
                       
                        @Html.CheckBoxFor(modelItem => item.TaskCompleted, new { id = item.Id})

                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
